<style>
  .feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
  }
</style>

<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div id="timelinebox" class="box col-sm-12 col-md-10 col-md-offset-1">
      <div class="box-content">

        <div class="col-lg-12">
          <div class="form-group text-center">
            <button class="btn btn-success" ng-click="vm.createMessage()">Post a new message</button>
          </div>
        </div>
        <div class="page-header">
          <h1 id="timeline">Timeline</h1>
        </div>
        <h3 ng-if="vm.posts.length <= 0" class="text-center">Start your timeline with Jop by posting a new message :)</h3>
        <ul ng-if="vm.posts.length > 0" class="timeline">
          <li ng-repeat="post in vm.posts | reverse" ng-class="$even ? 'timeline-panel' : 'timeline-inverted'">
            <div class="timeline-badge" uib-tooltip="{{ post.user.fullName }}" style="background-color: {{vm.stringToColour('CVDW')}}"><p>{{ vm.fullNameToAbbreviation(post.user.fullName) }}</p></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">{{ post.title }}</h4>
                <p>
                  <small class="text-muted"><i class="glyphicon glyphicon-time"></i> <span
                    am-time-ago="post.created_at"></span></small>
                </p>
              </div>
              <div class="timeline-body">
                {{post.content}}
                <hr>
                    <a ng-repeat="attachment in post.attachments" ng-click="vm.openLightboxModal(post, $index)">
                      <img ng-src="attachment/{{ attachment.location }}" class="feed-photo">
                    </a>
                <!--<img ng-repeat="attachment in post.attachments" class="feed-photo"-->
                     <!--ng-src="attachment/{{ attachment.location }}">-->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
